<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A hyperlocal civic notification app.">
    <meta name="author" content="Friendly Code">

    <title>MyMetro</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- PT Sans Google Font -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <style type="text/css">
        .mm-layout {
            border: 1px solid white;
            border-radius: 8px;
            margin: 30px auto 0px;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="background-color: #0F0132; font-family: 'PT Sans', sans-serif;">

    <div class="container">

      <div style="padding: 40px 15px; text-align: center; color: #ffffff;">
        <img src="{{ STATIC_URL }}client/img/mm-icon.png">
        <h1 class="hidden-xs hidden-sm">MyMetro</h1>
        <p class="lead hidden-xs hidden-sm">A hyperlocal civic notification app</p>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="{{ STATIC_URL }}client/img/mm-layout-1.png" class="img-responsive mm-layout" alt="App Layout">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="{{ STATIC_URL }}client/img/mm-layout-2.png" class="img-responsive mm-layout" alt="App Layout">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="{{ STATIC_URL }}client/img/mm-layout-3.png" class="img-responsive mm-layout" alt="App Layout">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="{{ STATIC_URL }}client/img/mm-layout-4.png" class="img-responsive mm-layout" alt="App Layout">
            </div>
        </div>
      </div>

    </div><!-- /.container -->

    <a href="https://github.com/friendlycode/mymetro"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

  </body>
</html>
